version: '3.8'

services:
  web7:
    build:
      context: .
      dockerfile: dockerphp7/apache/Dockerfile
    container_name: synaptic_webPHP7
    ports:
      - "8081:80"
    volumes:
      - ./dockerphp7/src:/var/www/src
    depends_on:
      - db_webPHP7
    restart: unless-stopped

  web8:
    build:
      context: .
      dockerfile: dockerphp8/apache/Dockerfile
    container_name: synaptic_webPHP8
    ports:
      - "8082:80"
    volumes:
      - ./dockerphp8/src:/var/www/src
    depends_on:
      - db_webPHP8
    restart: unless-stopped

  db_webPHP7:
    image: mysql:8.0
    container_name: synaptic_db_webPHP7
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: synaptic_db_webPHP7
      MYSQL_USER: synaptic_db_webPHP7
      MYSQL_PASSWORD: synaptic_db_webPHP7
    volumes:
      - db_data_php7:/var/lib/mysql
    ports:
      - "33067:3306"
  db_webPHP8:
    image: mysql:8.0
    container_name: synaptic_db_webPHP8
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: synaptic_db_webPHP8
      MYSQL_USER: synaptic_db_webPHP8
      MYSQL_PASSWORD: synaptic_db_webPHP8
    volumes:
      - db_data_php8:/var/lib/mysql
    ports:
      - "33068:3306"

volumes:
  db_data_php7:
  db_data_php8:
